<h1>Páginas de Posts Ingresados</h1>
<p>Acá está la lista de artículos del Blog</p>
<br><br>

<% @posts.each do |p|%>
<ol>
    <li><%= p.title %> </li>
    <li><%= p.image_url %> </li>
    <li><%= p.content %> </li>
</ol>
<%end%>
