<h1>Páginas de Posts Ingresados</h1>
<p>Acá está la lista de artículos del Blog</p>
<br><br>

<% @posts.each do |p|%>
<ul>
    <li><%= p.title %> </li>
    <li><%= p.created_at %> </li>
    <li><%= image_tag(p.image_url)%> </li>
    <li><%= p.content %> </li>
</ul>
<%end%>
