<h1>Acá se crean los Artículos</h1>

<form id="create_posts" method="get" action="<%= posts_create_path %>">
    Título : <input name="title"><br>
    Imagen : <input name="image_url" type="text"><br>
    Contenido : <textarea name="content"></textarea><br>
    <input type="submit" value="Crear Post"><br>
</form>

